@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.header {
  @include nav;
  min-height: 84px;
}

.wrapper {
  @include wrapper;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6px;
  width: 100%;
}

.logo {
  display: block;

  &:hover {
    opacity: .5;
  }
}
