@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.details {
  @include list-style-none;
}

.item {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid $gray--default;
}

.text {
  display: block;
  box-sizing: border-box;
  margin: 19px 0 8px;
}

.name {
  color: $black--default;
}

.value {
  margin-right: 18px;
}
