@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.details {
  @include list-style-none;
  max-width: 565px;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray--default;
}

.text {
  display: block;
  margin: 19px 0 9px;
}

.name {
  color: $black--default;
}
