@import '../../sass/mixins.scss';

.reviews {
  position: relative;
  padding: 0 6px;
}

.list {
  @include list-style-none;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.write {
  @include btn-red;
  position: absolute;
  top: 0;
  right: 6px;
  z-index: 2;
}
