@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black--default;
}

img {
  display: block;
}

body {
  height:100%;
  font-family: $font-default;
  margin: 0;
  padding: 0;
  font-size: $font-size--default;
  line-height: $line-height--default;
}
