@import './variables.scss';

@mixin wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin nav {
  background-color: $ligthgray--background;
  color: $black--default;
  display: flex;
  align-items: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin button {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: $red--default;
  width: fit-content;
  padding: 17px 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;

  &:hover {
    color: white;
    background-color: $red--hover;
  }
}
