$font-default: 'Open Sans', 'Arial', sans-serif;

$font-size--default: 16px;
$line-height--default: 22px;

$desktop-width: 1024px;

$ligthgray--background: #F5F5F9;
$gray--default: #D7D9DF;
$black--default: #48494D;
$red--default: #D12136;
$red--hover: #BD0C21;
