@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.tabs {
  padding: 0 3px;
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.list {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: block;
  width: 195px;
  flex-grow: 1;
}

.btn {
  text-align: center;
  color: $black--default;
  background-color: transparent;
  font-size: 20px;
  line-height: 27px;
  border: 1px solid $gray--default;
  width: 100%;
  padding: 11px 0 14px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $red--hover;
  }
}

.active {
  color: white;
  background-color: $red--default;
  border-color: $red--default;
}
