@import '../../sass/mixins.scss';

.list {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 50%;
  justify-content: flex-end;
}

.list__footer {
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-right: 2.8vw;
}

.list__footer .item {
  margin-right: 0;

}

.link {
  display: block;
  text-decoration: none;
  color: $black--default;
  padding: 10px 5px;
  font-weight: 600;
  text-align: center;

  &:hover {
    opacity: .5;
  }
}
