@import '../../sass/variables.scss';

.arrow {
  position: relative;
  width: 52px;
  height: 52px;
  border: 1px solid $gray--default;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../img/svg/arrow.svg');
    background-color: transparent;

  }

  &:disabled::before {
    opacity: .3;
  }

  &:not(:disabled):hover {
    border-color: $black--default;
    cursor: pointer;
  }
}

.left {
  transform: rotate(180deg);
}
