@import '../../sass/mixins.scss';

.slider {
  width: fit-content;
  padding-top: 17px;
  margin-bottom: 35px;
}

.bigSlide {
  position: relative;
  margin-bottom: 1.8vw;
  max-width: 600px;
  max-height: 375px;
}

.img {
  @include img;
}

.img__inactive {
  @include visually-hidden;
}

.new {
  position: absolute;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: $red--default;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  width: 122px;
  height: 30px;
  top: 0;
  left: 0;
  padding: 7px;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previews {
  @include list-style-none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 434px;
}

.preview {
  max-width: 128px;
  max-height: 80px;
}
